* {
    box-sizing: border-box;
}

body {
    
    background-image: url(vivid-blurred-colorful-background.jpg);
    margin: 0;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.tg {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
}

header {
    order: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, #79b2fd 17.8%, #c18dfc 100.2%);
}


header h1 {
    font-size: 16px;
    margin: auto;
    color: #d556fc;
}

header img {
    margin: 5px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

img.d-inline-block.align-top.img-fluid{
    margin: 5px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

header a {
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    flex-wrap: wrap;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap{
    padding: 8px;
    margin: 30px ;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
}

.wrap a{
    color:#d556fc;
}

li#links{
    color:#d556fc;
}

li::marker{
    color:#d556fc;
}

.wrap li{
    color:#d556fc;
}

form#form.row.g-3.needs-validation {
    order: -1;
    display: flex;
    font-weight: normal;
    border-collapse: collapse;
    flex-flow: column wrap;
    text-indent: inherit;
    border-spacing: 2px;
    color: rgb(255, 255, 255);
    flex-direction: column;
    flex-wrap: nowrap;
    align-items:start;
    border-radius:15px;
    width: 350px;
    padding: 8px;
    margin: 30px;
    box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
}
form#form.row.g-3.needs-validation{
    width: 350px;
    padding: 8px;
    margin: 30px;
    box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
    flex-direction: row;
    align-content: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    color:black;
}

form h3 {
    text-align: center;
    margin-top: 0;
}

.form label {
    align-content: center;
}

.form p {
    text-align: center;
}


input {
    width: 300px;
    height: 45px;
    border: none;
    border-radius: 100px;
    text-align: center;
}



textarea {
    border-radius: 10px;
}

select {
    border-radius: 10px;
    width: 100px;
}

input#invalidCheck.form-check-input::before{
    box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
}

button.btn.btn-primary{
    background-color:#d556fc;
    color:white;
    border:#c71afc;
}

button.btn.btn-primary::after{
    background-color:#d556fc;
    color:white;
    border:#c71afc;
}

button.btn.btn-primary:active{
    background-color:#d556fc;
    color:white;
    border:#c71afc;
}

input#someRadioId1.form-check-input{
    border:2px solid #c71afc;
    color:#d556fc;
}

input#someRadioId1.form-check-input::after{
    border:2px solid #c71afc;
    color:#d556fc;
}

input#someRadioId1.form-check-input:active{
    border:2px solid #c71afc;
    color:#d556fc;
}

input#someRadioId2.form-check-input{
    border:2px solid #c71afc;
    color:#d556fc;
}

input#someRadioId2.form-check-input::after{
    border:2px solid #c71afc;
    color:#d556fc;
}

input#someRadioId2.form-check-input:active{
    border:2px solid #c71afc;
    color:#d556fc;
}

.container1{
    order:1;
    box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
    margin:30px;
    padding: 8px;
}
div#table.container1.mt-4{
    width: 380px;
    padding: 8px;
    margin: 16px;
    box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
    border-radius:15px;
}
h2{
    color:#d556fc;
}
.table {
    
    order: 1;
    display: flex;
    border-radius: 5px;
    font-weight: normal;
    border-collapse: collapse;
    flex-direction: column;
    text-indent: inherit;
    border-spacing: 2px;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto;
}
table-striped{
    color:white;
}
table th {
    font-weight: 500;
    font-size: 24px;
    color: purple;
    background-color: #d556fc;
}

table td {
    font-size: 16px;
    color: plum;
    background-color:#d143fc;
}

table td,
table th {
    white-space: pre-wrap;
    padding: 10px 5px;
    line-height: 20px;
    vertical-align: middle;
    border: 2px solid #61037e;
}

table tr:hover {
    background-color: #c319f7;
}

table tr:hover td {
    color: #2b0238;
    cursor: pointer;
    
}

tr:nth-child(2n) {
    background: #d556fc;
    /* Цвет фона */
}

tr:nth-child(1) {
    background: #c923fc;
    /* Цвет фона */
    color: plum;
    /* Цвет текста */
}

.container2 {
    background-image: url(bdd61732b2d6183e78f983acd303f600.jpg);
    padding: 8px;
    margin: 30px auto;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
   }
   label {
    display: block;
    margin-bottom: 10px;
   }
   input[type="number"], select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
   }
   button.button1 {
    padding: 10px;
    background-color:#ffffff;
    color:#4f1f0c;
    border: none;
    border-radius: 3px;
    cursor: pointer;
   }

   .container3 {
    background-image: url(6df241b5976fac2d67bf82e32912f688.jpg);
    padding: 8px;
    margin: 30px auto;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
   }
   select{
    width: 270px;
    height: 40px;
   }
   input#onecomp{
    width: 35px;
    height: 30px;
   }
   input#twocomp{
    width: 35px;
    height: 30px;
   }
   input#acryl{
    width: 20px;
    height: 20px;
   }
   input#base{
    width: 20px;
    height: 20px;
   }
   input#powder{
    width: 20px;
    height: 20px;
   }

   .slick-slide img {
    border: 5px solid #fff;
    display: flex;
    width: 90%;
}

.lazy{
    border-radius: 15px;
    box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
    padding: 8px;
    margin: 30px auto;
    width: 350px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(165, 111, 252, 0.5);
        z-index: 9999;
        box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
}

button#openFormButton {
    background-color: #c923fc;
    box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
    color: #ffffff;
    border-radius: 10px;


}

button.loky {
    background:#c923fc;
    color:#ccc;
    border-radius:10px;
    box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
    border:1px solid #c923fc;
}

button.lok {
    background:rgb(92, 92, 252);
    color:#ccc;
    border-radius:10px;
    box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
    border:1px solid rgb(92, 92, 252);
}

form#feedbackForm.feedback-form{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height:620px;
}

.feedback-form {
    position: absolute;
    box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
    align-content: stretch;
    justify-content: space-evenly;
    background: url(fon.jpg);
    color: #c923fc;
    background-color: #fdc7c7;
}

.feedback-form h5 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group input[type="checkbox"] {
    display: inline;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.form-group input[type="submit"] {
    background-color:#c923fc;
    color: white;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color:#d869fa;
}

footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-end;
    flex-direction: column;
    align-content: space-around;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, #79b2fd 17.8%, #c18dfc 100.2%);
    color: white;
}

@media screen and (min-width : 415px) {
    body {
        background-image: url(vivid-blurred-colorful-background.jpg);
        margin: auto;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }
    
    .tg {
        display: flex;
        flex-direction: column-reverse;
        margin: auto;
    }
        
    header {
        order: 3;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background-image: radial-gradient(circle farthest-corner at 10% 20%, #79b2fd 17.8%, #c18dfc 100.2%);
        box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
    }
        
    header h1 {
        font-size: 16px;
        margin: auto;
        color: #d556fc;
    }
        
    header img {
        margin: 5px;
        border-radius: 70px;
        width: 40px;
        height: 40px;
    }

    img.d-inline-block.align-top.img-fluid{
        margin: 5px;
        border-radius: 50px;
        width: 40px;
        height: 40px;
    }
        
    header a {
        padding: 5px;
        text-decoration: none;
        font-size: 20px;
        border-radius: 10px;
        flex-wrap: wrap;
    }
        
    
    .navbar-expand-lg .navbar-collapse {
        display: flex;
        flex-basis: auto;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: flex-start;
    }
    
    .wrap{
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        align-content: stretch;
        justify-content: center;
        font-size: 20px;
        padding: 50px;
        margin: 70px 450px ;
        width: 800px;
        border-radius: 15px;
        box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
    }
    
    .wrap a{
        color:#d556fc;
    }
        
    li#links{
        color:#d556fc;
    }
        
    li::marker{
        color:#d556fc;
    }
        
    .wrap li{
        color:#d556fc;
    }

    form#form.row.g-3.needs-validation {
        order: -1;
        display: flex;
        font-weight: normal;
        border-collapse: collapse;
        flex-flow: column wrap;
        text-indent: inherit;
        border-spacing: 2px;
        color: rgb(255, 255, 255);
        flex-direction: column;
        flex-wrap: nowrap;
        align-items:start;
        border-radius:15px;
        width: 600px;
        padding: 50px;
        margin: 70px 450px ;
        box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
    }
    form#form.row.g-3.needs-validation{
        width: 600px;
        padding: 50px;
        margin: 70px 550px ;
        box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
        flex-direction: row;
        align-content: flex-end;
        justify-content: center;
        flex-wrap: wrap;
        color:black;
    }
    
    form h3 {
        text-align: center;
        margin-top: 0;
    }
    
    .form label {
        align-content: center;
    }
    
    .form p {
        text-align: center;
    }
    
    
    input {
        width: 300px;
        height: 45px;
        border: none;
        border-radius: 100px;
        text-align: center;
    }
    
    
    
    textarea {
        border-radius: 10px;
    }
    
    select {
        border-radius: 10px;
        width: 100px;
    }
    
    input#invalidCheck.form-check-input::before{
        box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
    }
    
    button.btn.btn-primary{
        background-color:#d556fc;
        color:white;
        border:#c71afc;
    }
    
    button.btn.btn-primary::after{
        background-color:#d556fc;
        color:white;
        border:#c71afc;
    }
    
    button.btn.btn-primary:active{
        background-color:#d556fc;
        color:white;
        border:#c71afc;
    }
    
    input#someRadioId1.form-check-input{
        border:2px solid #c71afc;
        color:#d556fc;
    }
    
    input#someRadioId1.form-check-input::after{
        border:2px solid #c71afc;
        color:#d556fc;
    }
    
    input#someRadioId1.form-check-input:active{
        border:2px solid #c71afc;
        color:#d556fc;
    }
    
    input#someRadioId2.form-check-input{
        border:2px solid #c71afc;
        color:#d556fc;
    }
    
    input#someRadioId2.form-check-input::after{
        border:2px solid #c71afc;
        color:#d556fc;
    }
    
    input#someRadioId2.form-check-input:active{
        border:2px solid #c71afc;
        color:#d556fc;
    }

    .container1{
        
        order:-1;
        box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
        margin:70px 450px;
        padding: 50px;
        width: 800px;
    }
    div#table.container1.mt-4{
        
        box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
        border-radius:15px;
        margin:70px 450px;
        padding: 50px;
        width: 800px;
    }
    h2{
        color:#d556fc;
    }
    .table {
        
        order: -1;
        display: flex;
        border-radius: 5px;
        font-weight: normal;
        border-collapse: collapse;
        flex-direction: column;
        text-indent: inherit;
        border-spacing: 2px;
        flex-wrap: nowrap;
        align-items: center;
        margin: auto;
        align-content:center;
    }
    table-striped{
        color:white;
    }
    table th {
        font-weight: 500;
        font-size: 24px;
        color: purple;
        background-color: #d556fc;
    }
    
    table td {
        font-size: 16px;
        color: plum;
        background-color:#d143fc;
    }
    
    table td,
    table th {
        white-space: pre-wrap;
        padding: 10px 5px;
        line-height: 20px;
        vertical-align: middle;
        border: 2px solid #61037e;
    }
    
    table tr:hover {
        background-color: #c319f7;
    }
    
    table tr:hover td {
        color: #2b0238;
        cursor: pointer;
        
    }
    
    tr:nth-child(2n) {
        background: #d556fc;
        /* Цвет фона */
    }
    
    tr:nth-child(1) {
        background: #c923fc;
        /* Цвет фона */
        color: plum;
        /* Цвет текста */
    }

    .container2 {
        background-image: url(bdd61732b2d6183e78f983acd303f600.jpg);
        width: 500px;
        padding: 50px;
        margin: 50px 600px ;
        border-radius: 5px;
        box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
       }
       label {
        display: block;
        margin-bottom: 10px;
       }
       input[type="number"], select {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 10px;
       }
       button.button1 {
        padding: 10px;
        background-color:#ffffff;
        color:#4f1f0c;
        border: none;
        border-radius: 3px;
        cursor: pointer;
       }

       .container3{
        background-image: url(6df241b5976fac2d67bf82e32912f688.jpg);
        width: 500px;
        padding: 50px;
        margin: 50px 600px ;
        border-radius: 15px;
        box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
        text-align: left;
       }
       select{
        width: 250px;
        height: 35px;
       }
       input#onecomp{
        width: 35px;
        height: 30px;
       }
       input#twocomp{
        width: 35px;
        height: 30px;
       }
       input#acryl{
        width: 25px;
        height: 30px;
       }
       input#base{
        width: 25px;
        height: 30px;
       }
       input#powder{
        width: 25px;
        height: 30px;
       }

       .slick-slide img {
        border: 5px solid #fff;
        display: flex;
        width: 90%;
    }

    .lazy{
        border-radius: 15px;
        box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
        width: 800px;
        padding: 50px;
        margin: 30px 450px ;
    }

    .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(165, 111, 252, 0.5);
        z-index: 9999;
        box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
    }
    
    button#openFormButton {
        background-color: #c923fc;
        box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
        color: #ffffff;
        border-radius: 10px;
    
    
    }
    
    button.loky {
        background:#c923fc;
        color:#ccc;
        border-radius:10px;
        box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
        width: 210px;
        height: 50px;
        border:1px solid #c923fc;
    }
    
    button.lok {
        background:rgb(92, 92, 252);
        color:#ccc;
        border-radius:10px;
        box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
        width: 210px;
        height: 50px;
        border:1px solid rgb(92, 92, 252);
    }
    
    form#feedbackForm.feedback-form{
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-between;
        align-items: center;
        width: 560px;
        height:930px;
        margin: 20px 610px;
        padding:20px;
    }
    
    .feedback-form {
        position: absolute;
        box-shadow: 0px 0px 40px rgba(163, 84, 253, 0.986);
        align-content: stretch;
        justify-content: space-evenly;
        background: url(fon.jpg);
        color: #c923fc;
        background-color: #fdc7c7;
    }
    
    .feedback-form h5 {
        margin-top: 0;
    }
    
    .form-group {
        margin-bottom: 10px;
    }
    
    .form-group label {
        font-weight: bold;
    }
    
    .form-group input,
    .form-group textarea {
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    
    .form-group input[type="checkbox"] {
        display: inline;
        margin-right: 5px;
        width: 30px;
        height: 30px;
        border-radius: 10px;
    }
    
    .form-group input[type="submit"] {
        background-color:#c923fc;
        color: white;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 10px 20px;
        cursor: pointer;
    }
    
    .form-group input[type="submit"]:hover {
        background-color:#d869fa;
    }

    footer {
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: flex-end;
        flex-direction: column;
        align-content: space-around;
        background-image: radial-gradient(circle farthest-corner at 10% 20%, #79b2fd 17.8%, #c18dfc 100.2%);
        color: white;
    }

}